<?xml version="1.0" encoding="utf-8"?>

<packages>
	<package id="Expression.Blend.Sdk.WPF" version="1.0.1" targetFramework="net48" />
	<package id="Simple.Wpf.Themes" version="2.3.15" targetFramework="net48" />
	<package id="System.Reactive" version="6.0.0" targetFramework="net48" />
	<package id="System.Reactive.Core" version="6.0.0" targetFramework="net48" />
	<package id="System.Reactive.Interfaces" version="6.0.0" targetFramework="net48" />
	<package id="System.Reactive.Linq" version="6.0.0" targetFramework="net48" />
	<package id="System.Reactive.PlatformServices" version="6.0.0" targetFramework="net48" />
	<package id="System.Reactive.Providers" version="6.0.0" targetFramework="net48" />
	<package id="System.Reactive.Windows.Threading" version="6.0.0" targetFramework="net48" />
	<package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
	<package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
	<package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>