<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net40" requireReinstallation="true" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net40" requireReinstallation="true" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net40" requireReinstallation="true" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net40" requireReinstallation="true" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net40" requireReinstallation="true" />
  <package id="Rx-WPF" version="2.2.5" targetFramework="net40" />
  <package id="Rx-Xaml" version="2.2.5" targetFramework="net40" requireReinstallation="true" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net48" />
  <package id="Simple.Wpf.Terminal" version="1.35.0.0" targetFramework="net48" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net40" />
</packages>